.navbar{
  height: 5rem;
  background-color: azure;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links a{
  text-decoration: none;
  color: #222222;
}
.f-info-links:hover a{
  text-decoration: underline;
  color: #222222;
}

.f-info-links,.f-info-socials{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info{
  text-align: center;

  height: 8rem;
  background-color: rgb(183, 180, 180);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  
}

