.navbar {
  height: 5rem;
  background-color: azure;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* FOOTER */
.f-info {
  background-color: rgb(183, 180, 180);
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.f-info-links,
.f-info-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials i {
  font-size: 1.2rem;
}

/* CARDS */
.card {
  border: none !important;
}

.card-img-top {
  border-radius: 1rem !important;
  object-fit: cover !important;
  width: 100% !important;
  height: 20rem !important;
}

.card-body {
  padding: 0 !important;
}

/* FOOTER WRAPPER */
footer {
  background: #f8f9fa;
  margin-top: auto;
}
